{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        org.clojure/data.json {:mvn/version "2.5.1"}
        io.github.squint-cljs/cherry {:git/sha "879f06d1472d92cd8330faafabbf41a4ce6f79fc"}
        org.graalvm.js/js-language {:mvn/version "25.0.2"}
        org.graalvm.truffle/truffle-runtime {:mvn/version "25.0.2"}}
 :aliases
 {:native {:extra-paths ["classes"]
           :extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}
           :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}
  ;; like :native but without truffle-runtime: no JIT for JS, interpreter-only
  ;; speed, roughly half the image size
  :native-small {:extra-paths ["classes"]
                 :extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}
                 :classpath-overrides {org.graalvm.truffle/truffle-runtime nil
                                       org.graalvm.truffle/truffle-compiler nil}
                 :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}}}
